*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    padding-left: 5vw;
    /* flex-direction: column; */
}
#profile-card{
    border-radius: 10px;
    padding: 20px 0;
    border: 1px solid white;
    height: 50%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}
#profile-card #user-img{
    height: 30%;
    width:15%;
border: 1px solid white;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1754942668740-8a815525cf2b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyOHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#genrate-card{
    border: 1px solid white;
    padding: 3vw 2vw;
    border-radius: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 1vw;
    height: 50%;
}
button{
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    transform: translateX(70%);
}