body{background-color: grey;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
justify-content: center;}
label{
    font-weight: 800;
}
p{
    font-weight: 800;
}
button{
    font-weight: 800;
    width: 120px;
    border: 3px solid black;
    border-radius: 8px;
}
#result{
    font-weight: 700;
    color: black;
}
.container{
    border: 5px solid black;
     width: 500px;
      border-radius: 20px;
      margin-top: 20px;
}
h1{
    text-align: center;
}
form{
      margin-left: 100px;
    
}
input{
    border-radius: 3px;
}