* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Manrope', 'Poppins', sans-serif;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
   background-color: black;
  }




#tip-calculator{
    margin-top: 20px;
    line-height: 50px;
    padding: 10px;
    border: 2px solid white;
    height: 60%;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    color: white;
    background-color: rgb(124, 70, 0);
   }
   #calculate{
    width: 40%;
    padding: 5px;
    font-weight: 700;
    font-size: small;
    border-radius: 5px;
    cursor: pointer;
   }
  #user_input-box1{
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
  }
  #user_input-box2{
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
  }
  p{
    font-weight: 700;
    color: black;
  }
   h1{
    text-align: center;
   }
   